<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit user</h1>

<form method="POST">

    <label>Balance:</label>
    <input type="number" name="coins" value="{{.Balance}}">

    <label>Role:</label>
    <select name="user_role">
        <option value="user" {{if eq .Role "user"}}selected{{end}}>User</option>
        <option value="admin" {{if eq .Role "admin"}}selected{{end}}>Admin</option>
    </select>

    <button type="submit">Save</button>
</form>
</body>
</html>