{{define "content"}}

    <div class="panel-wrapper">

        <div class="system-panel">

            <div class="scanline"></div>

            <div class="panel-title">
                EDIT USER
            </div>

            <form method="POST" class="system-form">

                <input
                        type="text"
                        name="email"
                        value="{{.Email}}"
                        class="system-input"
                >

                <input
                        type="number"
                        name="balance"
                        value="{{.Balance}}"
                        class="system-input"
                >

                <input
                        type="text"
                        name="role"
                        value="{{.Role}}"
                        class="system-input"
                >

                <button class="system-button">
                    SAVE
                </button>

            </form>

        </div>

    </div>

{{end}}