{{define "content"}}

    <div class="panel-wrapper">

        <div class="system-panel" style="width: 900px;">

            <div class="scanline"></div>

            <div class="panel-title">
                USER DATABASE
            </div>

            <table class="users-table">

                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>BALANCE</th>
                    <th>ROLE</th>
                </tr>

                {{range .}}

                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.Email}}</td>
                        <td>{{.Balance}}</td>
                        <td>{{.Role}}</td>
                    </tr>

                {{end}}

            </table>

        </div>

    </div>

{{end}}