{{define "content"}}

    <!-- TITLE -->
    <div class="title-wrapper">
        <h1 class="kinetic-text">
            КАЗИНО
        </h1>
    </div>

    <!-- DRUM -->
    <div class="drum-wrapper">

        <img src="/static/a1.png" alt="Cylinder">

        <div class="scratches"></div>

    </div>

    <!-- UI BUTTONS -->
    <div class="buttons-container">

        <a href="/play/slots" class="btn-embedded">
            ИГРАТЬ
        </a>

        <a href="/profile" class="btn-embedded">
            ПРОФИЛЬ
        </a>

        <a href="/login" class="btn-embedded">
            ЛОГИН
        </a>

    </div>

    <!-- FOOTER -->
    <div class="footer-sign">
        INDUSTRIAL SYSTEM
    </div>

{{end}}