{{define "content"}}

    <div class="machine-ui">

        <div class="machine-module">

            <div class="scanline"></div>

            <div class="machine-header">

                <div class="machine-label">
                    INDUSTRIAL SYSTEM
                </div>

                <div class="machine-title">
                    LOGIN
                </div>

            </div>

            <form method="POST"
                  class="machine-form"
                  autocomplete="off">

                <input
                        type="text"
                        name="username"
                        placeholder="USERNAME"
                        class="machine-input"
                        required
                >

                <input
                        type="password"
                        name="password"
                        placeholder="PASSWORD"
                        class="machine-input"
                        required
                >

                <button
                        type="submit"
                        class="machine-btn">

                    ACCESS

                </button>

            </form>

            {{if .}}

                <div class="machine-error">
                    {{.}}
                </div>

            {{end}}

            <a href="/" class="btn-embedded back-link">НАЗАД</a>

        </div>

    </div>

{{end}}