{{define "content"}}

    <div class="panel-wrapper">

        <div class="system-panel">

            <div class="scanline"></div>

            <div class="panel-title">
                CRAPS
            </div>

            <div class="status-text">
                БАЛАНС: {{.Balance}}
            </div>

            {{if .Message}}
                <div class="status-text {{if .Win}}status-win{{end}}">
                    {{.Message}}
                </div>
            {{end}}

            {{if .InProgress}}
                <div class="status-text">
                    Игра в процессе. Point: {{.Point}}
                </div>

                <form method="POST" class="system-form">
                    <button type="submit" class="system-button">
                        БРОСИТЬ КОСТИ
                    </button>
                </form>
            {{else}}
                <form method="POST" class="system-form">
                    <input type="number" name="bet" min="10" class="system-input" placeholder="СТАВКА">
                    <button type="submit" class="system-button">
                        НАЧАТЬ ИГРУ
                    </button>
                </form>
            {{end}}

            <a href="/" class="btn-embedded back-link">НАЗАД</a>

        </div>

    </div>

{{end}}