{{define "content"}}

    <div class="machine-ui">

        <div class="machine-module">

            <div class="scanline"></div>

            <div class="machine-header">

                <div class="machine-label">
                    USER TERMINAL
                </div>

                <div class="machine-title">
                    PROFILE
                </div>

            </div>

            <div class="machine-stats">

                <div class="machine-stat">

                    <div class="machine-stat-name">
                        USERNAME
                    </div>

                    <div class="machine-stat-value">
                        {{.Username}}
                    </div>

                </div>

                <div class="machine-stat">

                    <div class="machine-stat-name">
                        COINS
                    </div>

                    <div class="machine-stat-value">
                        {{.Coins}}
                    </div>

                </div>

            </div>

        </div>

    </div>

{{end}}