{{define "content"}}

    <div class="panel-wrapper">

        <div class="system-panel">

            <div class="scanline"></div>

            <div class="panel-title">
                CREATE ACCOUNT
            </div>

            <form method="POST" class="system-form" autocomplete="off">

                <input
                        type="text"
                        name="username"
                        placeholder="USERNAME"
                        class="system-input"
                        required
                >

                <input
                        type="password"
                        name="password"
                        placeholder="PASSWORD"
                        class="system-input"
                        required
                >

                <button type="submit" class="system-button">
                    REGISTER
                </button>

            </form>

            {{if .}}
                <div class="status-text status-error">
                    {{.}}
                </div>
            {{end}}

            <a href="/" class="btn-embedded back-link">НАЗАД</a>

        </div>

    </div>

{{end}}